/* dark: #0B0D17
DARK: 11,13,23
 light: #D0D6F9
 LIGHT: 208,214,249
 white: #FFFFFF 
 WHITE: 255,255,255
 */

@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Bellefair&display=swap');

:root {
  --dark: #0b0d17;
  --DARK: 11, 13, 23;
  --light: #d0d6f9;
  --LIGHT: 208, 214, 249;
  --white: #ffffff;
  --WHITE: 255, 255, 255;

  --H1: 150px;
  --H2: 100px;
  --H3: 56px;
  --H4: 32px;
  --H5: 28px;

  --SH1: 28px;
  --SH2: 14px;

  --NavText: 16px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Bellefair', serif;
  color: var(--light);
}

a {
  text-decoration: none;
  color: var(--white);
}

.H1 {
  font-size: var(--H1);
  color: var(--white);
  text-transform: uppercase;
}

.H2 {
  font-size: var(--H2);
  color: var(--white);
  text-transform: uppercase;
}

.H3 {
  font-size: var(--H3);
  color: var(--white);
  text-transform: uppercase;
}

.H4 {
  font-size: var(--H4);
  text-transform: uppercase;
  color: rgba(var(--LIGHT), 60%);
}

.H5 {
  font-size: var(--H5);
  text-transform: uppercase;
  font-family: 'Barlow Condensed', serif;
  letter-spacing: 4.75px;
}

.H5 span {
  font-weight: bold;
  color: rgba(var(--LIGHT), 40%);
}

.SH1 {
  font-size: var(--SH1);
  text-transform: uppercase;
}

.SH2 {
  font-size: var(--SH2);
  text-transform: uppercase;
  font-family: 'Barlow Condensed', serif;
  letter-spacing: 2.35px;
}

.normalText {
  line-height: 32px;
  font-size: 18px;
}

/* *******NAVBAR******* */
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2rem 0rem 2rem 5rem;
  width: 100vw;
  font-size: var(--NavText);
  font-family: 'Barlow Condensed', serif;
  letter-spacing: 2.7px;
  line-height: 19px;
}

.headerLogo {
  align-self: center;
  transform: scale(0.8);
}

.stroke,
.dest__stroke {
  position: relative;
  height: 0.5px;
  width: 50%;
  background-color: var(--light);
  opacity: 0.2;
  align-self: center;
  margin-right: -5%;
  z-index: 5;
}

.navbar {
  display: flex;
  align-self: center;
  justify-content: space-around;
  list-style: none;
  background-color: rgba(255, 255, 255, 0.04);
  backdrop-filter: blur(40px);
  width: max-content;
  padding: 0rem 4rem;
}

.navbar ul li {
  position: relative;
  display: inline-block;
  margin-left: 2rem;
}

.nav__Link {
  padding: 1.5rem 0;
  display: inline-block;
}

.nav__Link::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: rgba(var(--WHITE), 0.5);
  transform: scale(0);
  transition: transform 0.2s ease-in-out 0.2s;
}

.navSelected::before {
    transform: scale(1);
    background-color: var(--white);
}

.nav__Link:hover::before {
  transform: scale(1);
}

.navbar ul li:last-child {
  margin-right: 5rem;
}



.sec__navbar {
  background-color: transparent;
  backdrop-filter: blur(0);
  padding: 0;
  margin-bottom: 2rem;
}

.sec__navbar ul {
  margin-left: -1.5rem;
}

.sec__navbar ul li a {
  padding: 1rem 0;
}

.crew__nav {
  margin-top: 5rem;
  width: 10rem;
  padding-left: 2rem;
}
.crew__nav ul {
  display: flex;
  justify-content: space-between;
  color: rgba(var(--LIGHT), 40%);

  font-size: 3rem;
}

.crew__nav ul li {
  cursor: pointer;
  transition: color 0.2s ease-in-out 0.05s;
}

.crew__nav ul li:hover {
  color: rgba(var(--LIGHT), 80%);
}

.crew__navSelected {
  color: var(--light);
}

.tech__nav ul {
  list-style: none;
}

.tech__nav ul li {
  font-size: 1rem;
  height: 3rem;
  width: 3rem;
  margin-bottom: 2rem;
  border: 1px solid rgba(var(--LIGHT), 40%);
  padding: 1rem;
  padding-left: 1.3rem;
  border-radius: 100%;
  transition: border 0.2s ease-in-out 0.1s;
  cursor: pointer;
}

.tech__nav ul li:hover {
  border: 1px solid var(--light);
}

.tech__navSelected {
  background-color: var(--light);
}

.tech__navSelected a {
  color: var(--dark);
}

.title {
  margin: 2rem 0 2rem 10rem;
}

.home__bg {
  background: url(./assets/home/background-home-desktop.jpg);
  background-size: cover;
  height: 100vh;
  width: 100vw;
}

.dest__bg {
  background: url(./assets/destination/background-destination-desktop.jpg);
  background-size: cover;
  height: 100vh;
  width: 100vw;
}

.crew__bg {
  background: url(./assets/crew/background-crew-desktop.jpg);
  background-size: cover;
  height: 100vh;
  width: 100vw;
}

.tech__bg {
  background: url(./assets/technology/background-technology-desktop.jpg);
  background-size: cover;
  height: 100vh;
  width: 100vw;
}

.home,
.dest,
.crew,
.tech {
  display: flex;
  justify-content: space-evenly;
  margin-top: 10rem;
  max-width: 95%;
}

.crew {
  justify-content: flex-start;
  margin: 2rem 0 2rem 10rem;
  gap: 15rem;
}

.tech {
  justify-content: flex-start;
}

.home__content,
.dest__content {
  align-self: center;
  max-width: 50ch;
}

.crew__content {
  margin-top: 5rem;
  max-width: 60ch;
}

.tech__content {
  align-self: flex-start;
  margin-left: 10rem;
  margin-top: 5rem;
  max-width: 70ch;
  display: flex;
  gap: 2rem;
}

.explore {
  position: relative;
  height: 15rem;
  width: 15rem;
  align-self: center;
  border-radius: 50%;
  border: none;
  background-color: white;
  color: var(--dark);
  text-transform: uppercase;
  font-size: var(--H4);
  cursor: pointer;
  z-index: 1;
}

.explore::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 15rem;
  width: 15rem;
  background-color: rgba(255, 255, 255, 0.25);
  border-radius: 50%;
  transform: scale(0);
  z-index: -2;
  transition: transform 0.2s ease-out 0.1s;
}

.explore:hover::before {
  transform: scale(1.5);
}

.dest,
.crew,
.tech {
  margin-top: 0;
}

.crew__content .H3,
.tech__content .H3 {
  margin-top: 1rem;
  margin-bottom: 3rem;
}

.dest__imgSec img {
  height: 20rem;
  width: 20rem;
  margin-top: 5rem;
}

.crew__img {
  align-content: center;
}

.crew__img img {
  position: fixed;
  bottom: 0;
  height: 35rem;
}

.tech__img img {
  position: fixed;
  right: 0;
  height: 30rem;
}

.dest__stroke {
  width: 100%;
  margin-top: 2rem;
  margin-bottom: 1.5rem;
}

.dest__btm {
  display: flex;
  justify-content: space-between;
}
