/* dark: #0B0D17
DARK: 11,13,23
 light: #D0D6F9
 LIGHT: 208,214,249
 white: #FFFFFF 
 WHITE: 255,255,255
 */

@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Bellefair&display=swap');

:root {
  --dark: #0b0d17;
  --DARK: 11, 13, 23;
  --light: #d0d6f9;
  --LIGHT: 208, 214, 249;
  --white: #ffffff;
  --WHITE: 255, 255, 255;

  --H1: 9rem;
  --H2: 6.25rem;
  --H3: 3.5rem;
  --H4: 2rem;
  --H5: 1.75rem;

  --SH1: 1.75rem;
  --SH2: 0.875rem;

  --NavText: 1rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Bellefair', serif;
  color: var(--light);
}

a {
  text-decoration: none;
  color: var(--white);
}

.H1,
.H2,
.H3,
.H4,
.H5 {
  color: var(--white);
  text-transform: uppercase;
}

.H1 {
  font-size: var(--H1);
}

.H2 {
  font-size: var(--H2);
}

.H3 {
  font-size: var(--H3);
}

.H4 {
  font-size: var(--H4);
  color: rgba(var(--LIGHT), 60%);
}

.H5 {
  font-size: var(--H5);
  font-family: 'Barlow Condensed', serif;
  letter-spacing: 4.75px;
}

.H5 span {
  font-weight: bold;
  color: rgba(var(--LIGHT), 40%);
}

.SH1 {
  font-size: var(--SH1);
  text-transform: uppercase;
}

.SH2 {
  font-size: var(--SH2);
  text-transform: uppercase;
  font-family: 'Barlow Condensed', serif;
  letter-spacing: 2.35px;
}

.normalText {
  line-height: 2rem;
  font-size: 1.125rem;
}

/* *******NAVBAR******* */
.header {
  display: flex;
  gap: 1rem;
  flex-direction: row;
  justify-content: space-between;
  padding: 2rem 0rem 2rem 5rem;
  width: 100vw;
  font-size: var(--NavText);
  font-family: 'Barlow Condensed', serif;
  letter-spacing: 2.7px;
  line-height: 1.25rem;
}

.headerLogo {
  align-self: center;
  transform: scale(0.8);
}

.stroke,
.dest__stroke {
  position: relative;
  height: 0.5px;
  width: 50%;
  background-color: var(--light);
  opacity: 0.2;
  align-self: center;
  margin-right: -5%;
  z-index: 5;
}

.navbar,
.sec__navbar {
  display: flex;
  flex: 70%;
  align-self: center;
  justify-content: space-around;
  list-style: none;
  background-color: rgba(255, 255, 255, 0.04);
  backdrop-filter: blur(25px);
  width: max-content;
  padding-left: 0rem;
}

.navbar ul li,
.sec__navbar ul li {
  position: relative;
  display: inline-block;
  margin-left: 2rem;
}

.nav__Link {
  padding: 1.5rem 0;
  display: inline-block;
}

.nav__Link::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: rgba(var(--WHITE), 0.5);
  transform: scale(0);
  transition: transform 0.2s ease-in-out 0.2s;
}

.navSelected::before {
  transform: scale(1);
  background-color: var(--white);
}

.nav__Link:hover::before {
  transform: scale(1);
}

.navbar ul li:last-child {
  margin-right: 5rem;
}

.sec__navbar {
  background-color: transparent;
  backdrop-filter: blur(0);
  padding: 0;
  margin-bottom: 2rem;
}

.sec__navbar ul {
  margin-left: -1.5rem;
}

.crew__nav {
  width: 10rem;
}
.crew__nav ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin-top: 3rem;
}

.crew__navLink {
  cursor: pointer;
  display: inline-block;
  color: transparent;
  height: 1rem;
  width: 1rem;
  border: none;
  border-radius: 100%;
  transition: background-color 0.2s ease-in-out 0.05s;
  background-color: rgba(var(--LIGHT), 40%);
}

.crew__navLink:hover {
  background-color: rgba(var(--LIGHT), 80%);
}

.crew__navSelected {
  background-color: var(--light);
  height: 1rem;
  width: 1rem;
  border-radius: 100%;
}

.tech__nav ul {
  list-style: none;
}

.tech__navLink {
  display: block;
  font-size: 1rem;
  height: 3rem;
  width: 3rem;
  margin-bottom: 2rem;
  border: 1px solid rgba(var(--LIGHT), 40%);
  padding: 1rem;
  padding-left: 1.3rem;
  border-radius: 100%;
  transition: border 0.2s ease-in-out 0.1s;
  cursor: pointer;
}

.tech__navLink:hover {
  border: 1px solid var(--light);
}

.tech__navSelected {
  background-color: var(--light);
  color: var(--dark);
  font-weight: bold;
}

.title {
  margin: 2rem 0 2rem 10rem;
}

.home__bg,
.dest__bg,
.crew__bg,
.tech__bg {
  background-size: cover;
  min-width: 100vw;
  min-height: 100vh;
}

.home__bg {
  background-image: url(./assets/home/background-home-desktop.jpg);
}

.dest__bg {
  background-image: url(./assets/destination/background-destination-desktop.jpg);
}

.crew__bg {
  background-image: url(./assets/crew/background-crew-desktop.jpg);
}

.tech__bg {
  background-image: url(./assets/technology/background-technology-desktop.jpg);
}

.home,
.dest,
.crew,
.tech {
  display: flex;
  justify-content: space-evenly;
  margin-top: 10rem;
  max-width: 95%;
}

.crew {
  justify-content: flex-start;
  margin: 2rem 0 2rem 10rem;
  gap: 5rem;
}

.tech {
  justify-content: flex-start;
}

.home__content,
.dest__content {
  max-width: 50ch;
}

.crew__content {
  margin-top: 5rem;
}

.tech__content {
  margin-left: 10rem;
  margin-top: 5rem;
  max-width: 70ch;
  display: flex;
  gap: 2rem;
}

.explore {
  position: relative;
  height: 15rem;
  width: 15rem;
  align-self: center;
  border-radius: 50%;
  border: none;
  background-color: white;
  color: var(--dark);
  text-transform: uppercase;
  font-size: var(--H4);
  cursor: pointer;
  z-index: 1;
}

.explore::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 15rem;
  width: 15rem;
  background-color: rgba(255, 255, 255, 0.25);
  border-radius: 50%;
  transform: scale(0);
  z-index: -2;
  transition: transform 0.2s ease-out 0.1s;
}

.explore:hover::before {
  transform: scale(1.5);
}

.dest,
.crew,
.tech {
  margin-top: 0;
}

.crew__content .H3,
.tech__content .H3 {
  margin-top: 1rem;
  margin-bottom: 3rem;
}

.crew__content .normalText {
  max-width: 45ch;
}

.dest__imgSec img {
  height: 20rem;
  width: 20rem;
  margin-top: 5rem;
}

.crew__img img {
  position: fixed;
  bottom: 0;
  height: 35rem;
  right: 10rem;
}

.tech__img img {
  position: fixed;
  right: 0;
  height: 30rem;
}

.dest__stroke {
  width: 100%;
  margin-top: 2rem;
  margin-bottom: 1.5rem;
}

.dest__btm {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 1200px) {
  body {
    text-align: center;
  }

  .stroke {
    display: none;
  }
  .navbar,
  .sec__navbar {
    flex: 50%;
    position: fixed;
    top: 0;
    right: 0;
    padding-left: 5rem;
  }
  .navbar ul li,
  .sec__navbar ul li {
    padding: 1rem 0;
  }
  .nav__Link b {
    display: none;
  }

  .sec__navbar {
    position: relative;
    margin: 0 auto;
    padding-left: 0;
  }

  .sec__navbar ul li:first-child {
    margin-left: 0;
  }

  .sec__navbar ul {
    margin: 0;
  }

  .sec__navbar .nav__Link {
    padding: 0;
  }

  .home__bg {
    background-image: url(./assets/home/background-home-tablet.jpg);
  }

  .dest__bg {
    background-image: url(./assets/destination/background-destination-tablet.jpg);
  }

  .crew__bg {
    background-image: url(./assets/crew/background-crew-tablet.jpg);
  }

  .tech__bg {
    background-image: url(./assets/technology/background-technology-tablet.jpg);
  }

  .home,
  .dest,
  .crew,
  .tech {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5rem;
    margin: 5rem 0 0 0;
    max-width: 100%;
  }

  .tech {
    flex-direction: column-reverse;
    gap: 0;
  }

  .home__content,
  .dest__content,
  .crew__content,
  .tech__content {
    max-width: 70%;
  }

  .tech__content {
    flex-direction: column;
    margin: 0;
    gap: 0;
  }

  .title {
    text-align: left;
    margin: 2rem 0 0 5rem;
  }

  .dest {
    gap: 2rem;
  }

  .dest__imgSec img {
    height: 15rem;
    width: 15rem;
    margin-top: 0rem;
  }

  .crew {
    margin: 0;
    gap: 0;
  }

  .crew__content .H3,
  .tech__content .H3 {
    margin-bottom: 1rem;
  }

  .crew__content .normalText,
  .crew__content .normalText {
    max-width: 100%;
  }

  .crew__nav {
    width: 100%;
    padding: 0 35%;
    text-align: center;
  }

  .crew__img img {
    height: 25rem;
    bottom: 0;
    right: 30%;
  }

  .tech__nav ul {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin: 3rem 0 0 0;
  }

  .tech__img img {
    position: relative;
    width: 100vw;
    max-width: 60rem;
    height: auto;
  }
}

@media (max-width: 600px) {
  html {
    font-size: 75%;
  }

  .navWrapper {
    position: absolute;
    right: 0;
    top: 0;
    margin: 2rem;
    width: 2rem;
    height: 3px;
    background-color: var(--light);
  }

  .navWrapper::before {
    content: '';
    position: absolute;
    left: 0;
    top: 7px;
    width: 2rem;
    height: 3px;
    background-color: var(--light);
  }

  .navWrapper::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 7px;
    width: 2rem;
    height: 3px;
    background-color: var(--light);
  }
  .navbar {
    height: 100vh;
    z-index: 15;
    padding: 0 35% 0 0;
  }

  .navbar ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 5rem;
  }

  .navbar ul li {
    padding: 0;
    margin-bottom: 1rem;
  }

  .navbar ul li:last-child {
    margin-right: 0;
  }

  .nav__Link b {
    display: contents;
  }

  .navHide .navbar {
    display: none;
  }

  .navShow .navbar {
    display: flex;
  }

  .navbar::after {
    content: '\00d7';
    font-size: 5rem;
    margin: 2rem;
    position: absolute;
    top: 0;
    right: 0;
  }

  .home,
  .dest,
  .crew,
  .tech {
    margin: 2rem 0 0 0;
  }

  .home__content,
  .dest__content,
  .crew__content,
  .tech__content {
    max-width: 90%;
  }

  .title {
    margin: 0 auto;
    text-align: center;
  }

  .dest__btm {
    display: block;
  }

  .dest__btm > div {
    margin-bottom: 2rem;
  }

  .crew {
    flex-direction: column-reverse;
  }

  .crew__img {
    border-bottom: 1px solid rgba(var(--LIGHT), 40%);
    width: 80%;
  }

  .crew__img img {
    position: relative;
    margin: 0 auto;
    height: 15rem;
    right: 0;
  }

  .crew__content {
    position: relative;
  }

  .crew__nav {
    position: absolute;
    top: -30%;
  }
}
